@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#form-comp{
  background-image: url('https://r4.wallpaperflare.com/wallpaper/386/596/1000/nature-landscape-road-trees-wallpaper-08362c0a7f5c87797e90c9828289eb80.jpg');
  background-repeat: no-repeat;
  background-size: auto;
}